<div id="fullpage">
    <div class="section" id="accessories">
        <div class="slickFullHeight">
            {% for product in collections.accessories.products %}
                <div style="overflow:hidden;">
                    <section class="product-content-home pam">
                        <a class="product-badge" style="bottom:0px; right:0px;" href="{{product.url}}">
                           <section>
                               <h2>{{product.price | money }}</h2>
                               <h4>{{product.title}}</h4>
                               <p>{{product.description | truncatewords: 6 }}</p>
                           </section>
                        </a>
                    </section>
                    {% if product.metafields.c_f.video_url_mp4 %}
                        <video loop style="margin-left: -60%; height: 100%">
                            <source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/webm">
                            <source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/mp4">
                        </video>
                    {% else %}
                        <section class="cover" style="background-image: url('{{ product.featured_image | product_img_url: '2048x2048' }}'), url('{{ product.featured_image | product_img_url: '2048x2048' }}' );"></section>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
        <div class="section" id="clothing">
        <div class="slickFullHeight">
            {% for product in collections.clothing.products %}
                <div style="overflow:hidden;">
                    <section class="product-content-home pam">
                        <a class="product-badge" style="bottom:0px; right:0px;" href="{{product.url}}">
                           <section>
                               <h2>{{product.price | money }}</h2>
                               <h4>{{product.title}}</h4>
                               <p>{{product.description | truncatewords: 6 }}</p>
                           </section>
                        </a>
                    </section>
                    {% if product.metafields.c_f.video_url_mp4 %}
                        <video loop style="margin-left: -60%; height: 100%">
                            <source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/webm">
                            <source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/mp4">
                        </video>
                    {% else %}
                        <section class="cover" style="background-image: url('{{ product.featured_image | product_img_url: '2048x2048' }}'), url('{{ product.featured_image | product_img_url: '2048x2048' }}' );"></section>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div id="socialInteractive"></div>
