<div class="container mth">
    <div class="row">
        <div class="col s12">

            <form action="/cart" method="post" id="cartform">


                <h4>Your Cart <span class="right">Subtotal: {{ cart.total_price | money }}</span></h4>
                <div class="divider"></div>
                {% if cart.item_count == 0 %}
                    <p>You have nothing in your cart.</p>
                {% else %}

                    <table width="100%" class="bordered mbm">
                        <thead>
                            <th></th>
                            <th>Item</th>
                            <th>Price</th>
                            <th colspan="2">Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </thead>

                        <tbody>
                            {% for item in cart.items %}
                                <tr>
                                    <td><a href="{{ item.product.url }}"><img class="th" src="{{ item.product.images.first | product_img_url: 'small' }}" alt="{{ item.title | escape }}" /></a></td>
                                    <td><a href="{{ item.product.url }}">{{ item.title }}</a></td>
                                    <td>{{ item.price | money }}</td>
                                    <td><input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}"></td>
                                    <td><button class="waves-effect btn-flat" type="submit" title="Update Cart"><i class="mdi-navigation-refresh"></i></button></td>
                                    <td>{{ item.line_price | money }}</td>
                                    <td><a class="waves-effect btn-flat" href="/cart/change?line={{ forloop.index }}&quantity=0" title="Remove"><i class="mdi-action-highlight-remove"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="waves-effect blue-grey darken-1 btn" type="submit"><i class="mdi-navigation-refresh left"></i> Update Cart</button>
                    <button class="waves-effect blue-grey darken-3 btn" type="submit" name="checkout"><i class="mdi-action-payment left"></i> Check Out</button>


                {% endif %}

            </form>

        </div>
    </div>
</div>
