<div id="fullpage">
	<div class="section" id="accessories">
		<div class="slickFullHeight">
			{% for product in collection.products %}
				<div style="overflow:hidden;">
					<section class="product-content-home pam">
						<a href="{{ product.url }}" class="">
							<h6 class="man">{{ product.title }}<i class="mls mdi-navigation-arrow-forward color1"></i></h6>
							<small><i class="mdi-maps-local-offer red-text inlineBlock relative"></i></small>
							{% for tag in product.tags %}
								<a href="collections/all/{{ tag }}" class="red-text">- {{ tag }}</a>
							{% endfor %}
						</a>
					</section>
					{% if product.metafields.c_f.video_url_mp4 %}
						<video loop style="margin-left: -60%; height: 100%">
							<source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/webm">
							<source src="{{ product.metafields.c_f.video_url_mp4 }}" type="video/mp4">
						</video>
					{% else %}
						<section class="cover" style="background-image: url('{{ product.featured_image | product_img_url: '2048x2048' }}'), url('{{ product.featured_image | product_img_url: '2048x2048' }}' );"></section>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="socialInteractive">

</div>
